body{
    padding-top: 51px;
}
.adbi_class_wholepage{
    
}
.adbiavatar{
    margin-left: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
::selection {
	background: #ec7ebd;
	color: #fff;
}
::-moz-selection {
	background: #ec7ebd;
	color: #fff;
}