body{
    padding-top: 51px;
}
.adbi_class_wholepage{
    
}
.adbiavatar{
    margin-left: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
::selection {
	background: #ec7ebd;
	color: #fff;
}
::-moz-selection {
	background: #ec7ebd;
	color: #fff;
}
.adbiseparator{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    border-bottom-style: solid;
    border-bottom-color: #665D5D;
    border-bottom-width: 1px;
}
.adbiseparator-lg{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1px;
    border-bottom-style: solid;
    border-bottom-color: #665D5D;
    border-bottom-width: 1px;
}
.adbiseparator-md{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 1px;
    border-bottom-style: solid;
    border-bottom-color: #665D5D;
    border-bottom-width: 1px;
}
.adbiseparator-sm{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 1px;
    border-bottom-style: solid;
    border-bottom-color: #665D5D;
    border-bottom-width: 1px;
}
a, a:active, a:hover, a:visited {
  color:inherit;
  text-decoration: none;
 }