#formdiv1{
    margin-top: 5%;
    margin-bottom: 2.5%;
    border-left-style: solid;
    border-left-color: #665D5D;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: #665D5D;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-color: #665D5D;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #665D5D;
    border-bottom-width: 1px;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}