.ADBI_U-Avatar{
    margin-left: 5px;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
.ADBI_U-Header{
    margin-top: 50px;
}