table {
    width: 100%;
}
td:first-child {
    padding-right: 50px;
    border-right-style: solid;
    border-right-color: #665D5D;
    border-right-width: 1px;
}
td:last-child {
    float: right;
    min-width: 25px;
}
.adbiavatarthumb{
    width: 250px;
    height: 250px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}
a, a:active, a:hover, a:visited {
  color:inherit;
  text-decoration: none;
 }
#A1_div, #A2_div, #A3_div, #A4_div, #A5_div, #A6_div, #A7_div {
    display: none;
    padding-left: 15px;
}
.second_child_td {
    padding-left: 15px;
}
.col-md-3:last-child {
    border-left-style: solid;
    border-left-color: #665D5D;
    border-left-width: 1px;
}
.col-md-3:first-child {
    border-right-style: solid;
    border-right-color: #665D5D;
    border-right-width: 1px;
}
#IsNotAdultYet:hover span {
    display: none;
}
#IsNotAdultYet:hover:before {
    content:"Chcę widzieć treści 18+ *.*";
}
#IsAdult:hover span {
    display: none;
}
#IsAdult:hover:before {
    content:"Zabierz to, moje oczy... T.T";
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
}
.inputfile + label {
    cursor: pointer;
}
.inputfile + label * {
    pointer-events: none;
}