table {
    width: 100%;
}
td:first-child {
    padding-right: 50px;
    background-color: red;
	border-right-style: solid;
    border-right-color: #665D5D;
	border-right-width: 2px;
}
td:last-child {
    float: right;
    min-width: 25px;
    background-color: lightpink;
}
.adbiavatarthumb{
    width: 250px;
    height: 250px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}
a, a:active, a:hover, a:visited {
  color:inherit;
  text-decoration: none;
 }
 #A1-div, #A2-div, #A3-div, #A4-div, #A5-div, #A6-div, #A7-div {
    display: none;
}
.komentarz {
	margin-top: 30px;
	float:center;
	
}